.search-organization {
  height: 100vh;
  background: #222;
  color: #fff;
  font-family: monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header {
  position: fixed;
  top: 0;
  padding: 10px;
  max-width: 300px;
}

.app-description {
  font-size: 0.8rem;
  margin-left: 20px;
}

.logo {
  font-size: 2rem;
  font-weight: 700;
  padding: 20px 0;
  text-align: center;
}

.search-organization label {
  display: flex;
  flex-direction: column;
  font-size: 1.8rem;
  align-items: baseline;
  justify-content: left;
  margin: 15px;
  max-width: 280px;
  margin-left: -20px;
}

.last-line {
  display: flex;
}

.input-block {
  display: flex;
  align-items: center;
}

.search-organization input {
  border-radius: 50px;
  height: 45px;
  font-size: 1.5rem;
  text-align: center;
  width: 270px;
  padding-right: 35px;
}

.search-organization button {
  margin-left: -45px;
  border-radius: 50px;
  height: 35px;
  width: 35px;
  border: none;
  background-color: #fff;
  position: relative;
}

.search-organization button:hover {
  background-color: #ccc;
}

#search-icon {
  position: absolute;
  right: 5px;
  top: 5px;
}

/* blinking cursor */
#cursor {
  background: #fff;
  line-height: 17px;
  margin-left: 3px;
  animation: blink 1s infinite;
  width: 4px;
  height: 33px;
}

@keyframes blink {
  0% {
    background: #222;
  }
  50% {
    background: #fff;
  }
  100% {
    background: #222;
  }
}
