.repo a {
  font-size: 1.2rem;
  font-weight: 500;
}

.repo-description {
  padding: 8px 0;
  font-size: 0.9rem;
  font-weight: 300;
}

.repo-info {
  font-size: 12px;
  font-weight: 300;
  display: flex;
  padding-bottom: 20px;
}

.repo-language-color {
  margin-right: 5px;
}

.repo-hr {
  width: 100% !important;
  margin-bottom: 20px !important;
}

.repo p {
  padding-inline-end: 10px;
}
